@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,900;1,300&display=swap");
.container {
  
  margin: 0px auto;
}
.hero {
  display: flex;
  justify-content: space-between;
}
.quote {
  text-align: center;
}
.quote blockquote {
  font-size: 60px;
  text-align: center;
  font-weight: 900;
}
.hero .image img {
  max-width: 300px;
}
.about {
  height: 300px;
  background: black;
  margin-top: -7px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 390px) {
  .hero {
    flex-direction: column;
  }

  .quote blockquote {
    font-size: 30px;
  }

  img {
    max-width: 100% !important;
  }
  .container {
    padding: 0px 10px;
  }
}
